@charset "UTF-8";

header{
	position:fixed;
	height:70px;
	width: 100%;
	background-color: orange;
	top:0px;
	left:0px;
	line-height: 70px;
	font-size:32px;
	text-align: center;
}
nav{
	position:fixed;
	height:30px;
	width: 100%;
	background-color: pink;
	top:70px;
	left:0px;
	line-height: 30px;
}
footer{
	position:fixed;
	height:70px;
	width: 100%;
	background-color: red;
	bottom:0px;
	left:0px;	
	line-height: 70px;
}
section{
	position:fixed;
	height:100%;
	width: 100%;
	top:100px;
	left:0px;
}